<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="Data/Jadwal.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \Desso\Services\Data\Jadwal" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="54" severity="error" message="Argument $guzzle is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="54" severity="error" message="Argument $config is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="60" severity="error" message="Argument $refetch is missing from the Docblock of getJadwals" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="60" severity="error" message="No summary for method getJadwals()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="100" severity="error" message="Argument $refetch is missing from the Docblock of getUTSes" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="100" severity="error" message="No summary for method getUTSes()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="136" severity="error" message="Argument $refetch is missing from the Docblock of getUASes" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="136" severity="error" message="No summary for method getUASes()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="174" severity="error" message="Argument $endpoint is missing from the Docblock of fetch" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="174" severity="error" message="No summary for method fetch()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="9" severity="error" message="No summary for property $guzzleClient" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="10" severity="error" message="No summary for property $config" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="13" severity="error" message="No summary for property $data_jadwals" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="14" severity="error" message="No summary for property $data_tr" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="15" severity="error" message="No summary for property $data_dosen" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="17" severity="error" message="No summary for property $datas_jadwal" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="28" severity="error" message="No summary for property $datas_uts" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="41" severity="error" message="No summary for property $fetched_data" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="42" severity="error" message="No summary for property $fetched_html" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Data/Nilai.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="5" severity="error" message="No summary for class \Desso\Services\Data\Nilai" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="29" severity="error" message="Argument $guzzle is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="29" severity="error" message="Argument $config is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="35" severity="error" message="Argument $semester is missing from the Docblock of getNilais" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="35" severity="error" message="Argument $refetch is missing from the Docblock of getNilais" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="35" severity="error" message="No summary for method getNilais()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="69" severity="error" message="Argument $refetch is missing from the Docblock of getSemesters" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="82" severity="error" message="Argument $endpoint is missing from the Docblock of autorefetch" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="82" severity="error" message="Argument $refetch is missing from the Docblock of autorefetch" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="82" severity="error" message="No summary for method autorefetch()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="101" severity="error" message="Argument $endpoint is missing from the Docblock of fetch" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="101" severity="error" message="No summary for method fetch()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="8" severity="error" message="No summary for property $guzzleClient" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="9" severity="error" message="No summary for property $config" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="12" severity="error" message="No summary for property $data_nilai" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="13" severity="error" message="No summary for property $data_semesters" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="16" severity="error" message="No summary for property $fetched_data" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="17" severity="error" message="No summary for property $fetched_html" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Data/Enums/Semester.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="15" severity="error" message="No summary for property $year" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="16" severity="error" message="No summary for property $period" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="Data/Profile.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="6" severity="error" message="No summary for class \Desso\Services\Data\Profile" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="93" severity="error" message="Argument $guzzle is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="93" severity="error" message="Argument $config is missing from the Docblock of __construct" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="101" severity="error" message="Argument $refetch is missing from the Docblock of getProfilePict_base64" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="101" severity="error" message="No summary for method getProfilePict_base64()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="116" severity="error" message="Argument $refetch is missing from the Docblock of getDatas" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="116" severity="error" message="No summary for method getDatas()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="196" severity="error" message="No summary for method fetch()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="9" severity="error" message="No summary for property $guzzleClient" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="10" severity="error" message="No summary for property $config" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="13" severity="error" message="No summary for property $profile_image" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="14" severity="error" message="No summary for property $data_name" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="15" severity="error" message="No summary for property $data_npm" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="16" severity="error" message="No summary for property $data_jurusan" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="17" severity="error" message="No summary for property $data_fakultas" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="18" severity="error" message="No summary for property $data_doli" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="19" severity="error" message="No summary for property $data_doli_email" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="20" severity="error" message="No summary for property $datas" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="21" severity="error" message="No summary for property $data_lahir" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
  <file name="StudentPortal.php">
    <error line="0" severity="error" message="No summary was found for this file" source="phpDocumentor.file.PPC:ERR-50000"/>
    <error line="8" severity="error" message="No summary for class \Desso\Services\StudentPortal" source="phpDocumentor.file.PPC:ERR-50005"/>
    <error line="93" severity="error" message="Argument $cookiejar is missing from the Docblock of cookieJarUse" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="93" severity="error" message="Argument $resetGuzzle is missing from the Docblock of cookieJarUse" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="108" severity="error" message="Argument $saveTo is missing from the Docblock of cookieJarSave" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="126" severity="error" message="Name of argument $resetGuzzle does not match with the DocBlock's name $hardReset in resetCookie()" source="phpDocumentor.file.PPC:ERR-50014"/>
    <error line="126" severity="notice" message="Parameter $hardReset could not be found in resetCookie()" source="phpDocumentor.file.PPC:ERR-50013"/>
    <error line="158" severity="error" message="No summary for method pre_login()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="165" severity="error" message="Argument $ticket is missing from the Docblock of post_login" source="phpDocumentor.file.PPC:ERR-50015"/>
    <error line="165" severity="error" message="No summary for method post_login()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="180" severity="error" message="No summary for method get_service()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="203" severity="error" message="No summary for method getJadwal()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="209" severity="error" message="No summary for method getNilai()" source="phpDocumentor.file.PPC:ERR-50008"/>
    <error line="15" severity="error" message="No summary for property $guzzleClient" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="16" severity="error" message="No summary for property $guzzleSetting" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="17" severity="error" message="No summary for property $guzzleHandlerStack" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="18" severity="error" message="No summary for property $cookieJar" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="19" severity="error" message="No summary for property $cookieFile" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="20" severity="error" message="No summary for property $tempFolder" source="phpDocumentor.file.PPC:ERR-50007"/>
    <error line="21" severity="error" message="No summary for property $useTempCookie" source="phpDocumentor.file.PPC:ERR-50007"/>
  </file>
</checkstyle>
